/* Контейнер для іконок */
.social-links {
  display: flex;
  justify-content: center;
  gap: 15px; /* Відстань між іконками */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок на малих екранах */
  margin: 20px 0;
}

/* Стилі для зображень іконок */
.social-links img {
  margin-bottom: 5px;
  width: 120px; /* Фіксована ширина для іконок */
  height: auto; /* Висота автоматична, пропорційна ширині */
}

/* Адаптація для мобільних екранів */
@media (max-width: 768px) {
  .social-links img {
    width: 100px; /* Зменшена ширина для мобільних пристроїв */
  }
}

h2 {
  position: relative;
  text-align: center;

}
