<section class="courses" id="courses">
  <div class="courses-container">
    <div class="course-item">
      <img src="./assets/course.jpg" alt="Курс чеської мови" />
      <div class="course-text">
        <h2>Навчайтеся чеської з нами!</h2>
        <p>Запишіться на наші курси чеської мови та відкрийте для себе нові можливості! Ми пропонуємо як індивідуальні заняття, так і групові курси для будь-якого рівня.</p>
        <button class="cta-button">Записатися на курс</button>
      </div>
    </div>
  </div>
</section>
