<button class="hamburger" (click)="toggleSidebar()">
    ☰
</button>
<div>
    <a id="linkToMainSite" href="/login">Login</a>
</div>
<div class="container">
    <!-- Ліва навігація -->
    <div class="sidebar" [class.hidden]="isSidebarHidden">
        <a href="#about" class="nav-link" (click)="scrollToSection('about', $event)"
           [class.active]="activeSection === 'about'">
            About
        </a>
        <a href="#course" class="nav-link" (click)="scrollToSection('course', $event)"
           [class.active]="activeSection === 'course'">
            Course
        </a>
        <a href="#price" class="nav-link" (click)="scrollToSection('price', $event)"
           [class.active]="activeSection === 'price'">
            Price
        </a>
        <a href="#contact" class="nav-link" (click)="scrollToSection('contact', $event)"
           [class.active]="activeSection === 'contact'">
            Contact
        </a>

        <div id="sideNavContacts">
            <div align="center">
                <a href="https://instagram.com/pani_iryna_cz/" target="_blank">
                    <img src="https://img.shields.io/badge/instagram-%23000000.svg?&style=for-the-badge&logo=instagram&logoColor=white"
                         alt="instagram" style="margin-bottom: 5px;"/>
                </a>
                <a href="https://t.me/cestinaspaniirynou/" target="_blank">
                    <img src="https://img.shields.io/badge/Telegram-2CA5E0?style=for-the-badge&logo=telegram&logoColor=white"
                         alt="telegram" style="margin-bottom: 5px;"/>
                </a>
            </div>
        </div>
    </div>

    <!-- Контент -->
    <div class="content">
        <div id="about" class="section">
            <app-about></app-about>
        </div>

        <div id="course" class="section">
            <app-course></app-course>
        </div>

        <div id="price" class="section">
            <app-price></app-price>
        </div>

        <div id="contact" class="section">
            <app-contact></app-contact>
        </div>
    </div>
</div>
