#linkToMainSite {
    position: fixed; /* Зафіксує елемент відносно екрану */
    top: 10px; /* Відступ зверху */
    right: 10px; /* Відступ справа */
    width: 50px; /* Розмір кола */
    height: 50px; /* Розмір кола */
    background-color: darkblue; /* Колір фону */
    color: white; /* Колір тексту */
    border-radius: 50%; /* Робить елемент круглим */
    display: flex; /* Для центрування тексту */
    align-items: center; /* Вертикальне центрування */
    justify-content: center; /* Горизонтальне центрування */
    text-decoration: none; /* Прибрати підкреслення тексту */
    font-size: 14px; /* Розмір шрифту */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Додає тінь */
    z-index: 1000; /* Робить елемент поверх інших */
}

#linkToMainSite:hover {
    background-color: royalblue; /* Зміна кольору при наведенні */
}


/* app.component.css */
.container {
    display: flex;
}

.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    padding-top: 50px;
}

.nav-link {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.nav-link.active {
    color: #2196f3;
}

.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    animation: growLine 0.3s ease-in-out;
}

@keyframes growLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


.content {
    margin-left: 220px;
    padding: 20px;
}

.section {
    padding: 20px;
    margin-bottom: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    min-height: 100vh; /* Забезпечує, що кожен розділ має достатньо висоти */
}

.section h2 {
    margin-top: 0;
}

