<section class="price" id="price">
  <h2>Ціни на курси чеської мови</h2>
  <div class="carousel-container">
    <div class="carousel" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
      <div class="carousel-item" *ngFor="let item of carouselItems; let i = index">
        <img [src]="item.imageUrl" alt="{{ item.title }}" />
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>

        <!-- Якщо є знижка, показуємо її -->
        <p *ngIf="item.discountPrice" class="price-final">
          Ціна зі знижкою: {{ item.discountPrice }} грн
        </p>

        <!-- Якщо знижка відсутня, показуємо звичайну ціну -->
        <p *ngIf="!item.discountPrice" class="price-final">
          Ціна: {{ item.price }} грн
        </p>
      </div>
    </div>
    <div class="carousel-nav">
      <button (click)="prevSlide()">❮</button>
      <button (click)="nextSlide()">❯</button>
    </div>
  </div>
</section>
