<section class="price" id="price">
    <h2>Ціни на курси чеської мови</h2>
    <div class="carousel">
        <div class="carousel-inner">
            <div
                    class="card"
                    *ngFor="let item of carouselItems; let i = index"
                    [style.transform]="'translateX(' + (currentIndex * -100) + '%)'">
                <div class="card-image">
                    <img [src]="item.imageUrl" alt="{{ item.title }}" />
                </div>
                <div class="card-overlay">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.description }}</p>
                    <p *ngIf="item.discountPrice" class="price-final">
                        Ціна зі знижкою: {{ item.discountPrice }} грн
                    </p>
                    <p *ngIf="!item.discountPrice" class="price-final">
                        Ціна: {{ item.price }} грн
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control prev" (click)="prevSlide()">❮</button>
        <button class="carousel-control next" (click)="nextSlide()">❯</button>
    </div>
</section>
