<h1>Todo</h1>

<div class="container">
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values.</div>
  <div class="alert alert-warning" *ngIf="targetDate.dirty && targetDate.invalid">Enter valid date.</div>
  <div class="alert alert-warning" *ngIf="description.dirty && description.invalid">Description must be 5 characters at
    least.
  </div>

  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label for="description"> Description </label>
      <input #description="ngModel"
             type="text" id="description" [(ngModel)]="toDo.description" class="form-control"
             name="description"
             required
             minlength="5">
      <small
        *ngIf="todoForm.controls['description']?.errors?.['required'] && todoForm.controls['description']?.touched"
        class="text-danger">
        Description is required.
      </small>
      <small
        *ngIf="todoForm.controls['description']?.errors?.['minlength'] && todoForm.controls['description']?.touched"
        class="text-danger">
        Description must be at least 5 characters long.
      </small>

    </fieldset>
    <fieldset class="form-group">
      <label for="target">Target Date</label>
      <input type="date" id="target" #targetDate="ngModel"
             [ngModel]="toDo.targetDate | date: 'yyyy-MM-dd'"
             (ngModelChange)="toDo.targetDate = $event"
             class="form-control" name="targetDate" required>
      <small *ngIf="!todoForm.controls['targetDate']?.valid && todoForm.controls['targetDate']?.touched"
             class="text-danger">
        Target Date is required.
      </small>
    </fieldset>
    <fieldset class="form-group">
      <label for="complete">Completed</label>
      <div id="complete">
        <label class="radio-option">
          <input type="radio" [(ngModel)]="toDo.done" name="completed" [value]="true"> Yes
        </label>
        <label class="radio-option">
          <input type="radio" [(ngModel)]="toDo.done" name="completed" [value]="false"> No
        </label>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
